body {
  margin: 0px;
  padding: 0px;
  background-color: #f0f0f0;
}

ul {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

li {
  line-break: auto;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: dodgerblue;
  position: relative;
  margin-top: 37px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a {
  color: black !important;
}

.responsive {
  height: auto;
  max-height: 200px;
  max-width: 355px;
}

hr {
  color: #140617;
  width: 100%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.mh-100 {
  min-height: 100px;
}

.mh-200 {
  min-height: 200px;
}

.mh-300 {
  min-height: 300px;
}

.mh-400 {
  min-height: 400px;
}

.mh-500 {
  min-height: 500px;
}

.card {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: -7px 9px 30px 3px rgba(181, 181, 181, 0.51);
  box-shadow: -7px 9px 30px 3px rgba(181, 181, 181, 0.51);
  color: black;
  padding: 5px;
  margin: 5px;
}

.ul .li {
  display: inline;
  border-color: dodgerblue;
}

.li {
  margin: -2px;
  cursor: pointer;
}

.li:hover {
  background-color: white;
  color: dodgerblue;
  -webkit-box-shadow: -7px 9px 30px 3px rgba(181, 181, 181, 0.51);
  box-shadow: -7px 9px 30px 3px rgba(181, 181, 181, 0.51);
}

.li-active {
  background-color: white;
  color: dodgerblue;
  -webkit-box-shadow: -7px 9px 30px 3px rgba(181, 181, 181, 0.51);
  box-shadow: -7px 9px 30px 3px rgba(181, 181, 181, 0.51);
}

.no-margin {
  margin: 0px !important;
}

.menu {
  background-color: dodgerblue;
  color: white;
}

.fa-star,
.fa-star-o {
  font-size: 18px !important;
}

.flag {
  height: 15px;
  width: 22px;
  padding: 4px;
  cursor: pointer;
}

.item-flag:hover {
  background-color: white;
}

.item-menu {
  color: white !important;
  background-color: dodgerblue;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  padding-top: 10px;
}

.item-menu:hover {
  color: dodgerblue !important;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  padding-top: 10px;
}

.item-menu-active {
  color: dodgerblue !important;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  padding-top: 10px;
}

.br-10 {
  border-radius: 10px;
}

.br-50 {
  border-radius: 50%;
}

.shadow:hover {
  box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.zoom:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.circle:hover {
  border-radius: 50%;
}

.fc-black {
  color: black;
}

.color-block {
  background: white;
  color: dodgerblue;
}

.color-block:hover {
  color: black !important;
  border-radius: 5px;
  border: 1px solid;
  border-color: dodgerblue;
}

.about-text {
  width: 95%;
}

.custom-border:hover {
  box-shadow: inset 0 0 0 5px #53a7ea;
}

@media only screen and (max-width: 1025px) {
  .course-card {
    width: 45% !important;
  }

  .about-content {
    width: 90%;
  }

  .list-item {
    width: 45% !important;
    justify-content: center;
  }

  .list-title {
    width: 90% !important;
    justify-content: center;
  }

  .list-text {
    font-size: 10px;
  }

  .main-container {
    margin-right: 5px !important;
  }
}

@media only screen and (max-width: 683px) {
  .course-card {
    width: 90% !important;
  }

  .about-item {
    width: auto;
  }

  .about-text {
    width: 90%;
  }
}
